#content {
  margin-left: 70px;
  margin-top: 120px;
}

.desktop-nav {
height: 95px;
}

.modernSidebar-nav {
  top: 95px !important;
  width: 70px !important;
}

.modernSidebar-nav.header nav#modernSidebar {
  width: 70px;
}

.modernSidebar-nav.header
  nav#modernSidebar
  ul.menu-categories
  li.menu
  .submenu {
  left: 70px;
}

.modernSidebar-nav.header nav#modernSidebar ul.menu-categories li.menu > a {
  height: 60px;
}

.tema-dark,
.footer-section.footer-section-2.tema-dark {
  background-color: #333d46 !important;
}

.widget-content.widget-content-area.tema-dark h2,
.team-content.tema-dark.tema-dark h3,
.widget-content.widget-content-area.tema-dark h4,
.widget-content.widget-content-area.tema-dark span,
.widget-content.widget-content-area.tema-dark p,
.widget-content.widget-content-area.tema-dark table tr th,
.widget-content.widget-content-area.tema-dark table tr td,
.widget-content.widget-content-area.tema-dark table tr td small,
.widget-content.widget-content-area.tema-dark label,
footer.tema-dark .list-inline-item {
  color: #fff;
}

.widget-content.widget-content-area.tema-dark span.select2-selection__rendered {
  color: #333 !important;
}

.widget-content.widget-content-area.tema-dark
  table.table-custom
  > tbody
  > tr:hover {
  background-color: #292b2b !important;
}

table.table-custom > tbody > tr > td,
table.table-custom > tbody > tr > th {
  border: none;
  padding: 15px !important;
}

.musik-play {
  background-color: #5A5A5A;
}

.waktu {
  font-size: 1rem;
  font-weight: bold;
}
.desktop-nav.header .navbar-nav .message-dropdown .dropdown-menu {
    top: 50px !important;
}

.icon-container {
  text-align: center;
  cursor: pointer;
}
.icon-container [class^='flaticon-'],
.icon-container [class*=' flaticon-'] {
  color: #888ea8;
  font-size: 27px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 18px;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 65px;
  box-shadow: 0px 3px 25px 0px rgba(113, 106, 202, 0.2);
}
.icon-name {
  color: #888ea8;
  font-size: 14px;
  transition: 0.3s;
}
.icon-container [class*='flaticon-']:hover {
  color: #3862f5;
}
.icon-container [class*='flaticon-']:hover + span[class='icon-name'] {
  color: #3862f5;
}
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 10px;
  padding-left: 8px;
}
